/*
html .container {
	background: url(../images/diamondRingClipArt.png);
	background-size: cover;
} 
*/

.wordBox .letter {
	font-size: 24px;
	font-weight: bold;
	padding: 5px 10px 5px 10px;
}


.jumbotron {
    background-image: url(../images/JumbotronBgBanner.jpeg);
    /* position: relative; */
    /* opacity: 0.45; */
    /* height: 190px; */
    /* overflow: hidden; */
    cover: initial;
    background-size: cover;
    margin-top: 23px;
    font-size: -34px;
    /* padding-top: 82px; */
    background-size: 530px 215px;
    background-repeat: no-repeat;
    margin-left: 156px;
    margin-bottom: 28px;
    background-color: white;
    padding-bottom: 87px;
}

img {
    /* height: 200px; */
    width: 100%;
    /* height: 50%; */
    border: solid 1px grey;
    border-radius: 20px;
}